@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import-normalize;

* {
  margin: 0;
  padding: 0;
  list-style: none; // точки у li
  outline: none; // button без границ
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.todo {
  display: flex; // блоки в ряд
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
}
