.sidebar__add {
  position: relative;
  img {
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
  }
  padding: 10px;
  margin-top: 15px;
  width: 235px;
  height: 150px;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba($color: #000000, $alpha: 0.05); // косится вправо
  border-radius: 10px;
  &__color {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    i {
      cursor: pointer;
      padding: 10px 10px;
      border-radius: 30px;
      &.green {
        background-color: #42b883;
      }

      &.blue {
        background-color: #64c4ed;
      }

      &.pink {
        background-color: #ffbbcc;
      }

      &.red {
        background-color: #ff6464;
      }

      &.black {
        background-color: #110133;
      }

      &.purple {
        background-color: #c355f5;
      }

      &.lime {
        background-color: #b6e6bd;
      }

      &.grey {
        background-color: #c9d1d3;
      }
    }
    i:active {
      border: 1px solid #525252;
    }
  }
  &__input {
    padding: 18px 0px;
  }
  input {
    width: 100%;
    background: #ffffff;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    &:focus {
      border-color: #aaa8a8;
    }
  }
  button {
    background: #6bca73;
    border-radius: 4px;
    color: #fff;
    border: 0px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
  }
}

.select {
  border: 1px solid #525252;
}
